.form{
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 43, 226);
    border-radius: 10px;
    height: max-content;
    width: max-content;
    padding: 2rem;
    border: 3px solid rgb(99, 23, 123);
    box-shadow: 0 4px 12px 0 rgba(47, 10, 59, 0.677), inset 0 0 12px 0 rgba(0, 0, 0, 0.363);
}

.form > h2{
    margin: 0;
    text-decoration:underline;
}

.control-group{
    margin: 1rem auto;
    
}

.form-control{
    margin: 1rem 0;
    
    display: flex;
    flex-direction: column;
}

.form-control > label{

    font-size: 1.2rem;
    font-weight: 500;

}

.form-control > input{
    line-height: 3rem;
    color: rgba(100, 23, 123);
    font-size: 1.75rem;
    border-radius: 5px;
    background-color: rgb(224, 173, 239);
    border: 2px solid rgba(100, 23, 123, 0.782) ;
    padding-left: 1rem;
}

.form-control > input:focus{
    outline: none;
}

.form-control.invalid{
    color: rgb(255, 176, 4);
}
.form-control.invalid > input{
    border-color: rgb(255, 121, 4);
    color: salmon;
}

.form-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5rem;
    height: 7rem;
}

.form-actions > button{

    cursor: pointer;

    line-height: 3rem;
    font-size: 1.75rem;
    padding: .5rem 1rem;

    background-color: rgb(183, 43, 226);
    border-radius: 1rem;
    border-left: 0 solid rgba(100, 23, 123, 0.782);
    border-top: 0 solid rgba(100, 23, 123, 0.782);
    border-right:  0 solid rgb(100, 23, 123);
    border-bottom:  0 solid rgb(100, 23, 123);
    box-shadow: inset 0 0 0 0  rgb(100, 23, 123), 0 0 0 0  rgb(100, 23, 123);
    transition: all 0.2s ease-in-out;
}

.form-actions > button:hover{
    border-left: 2px solid rgba(100, 23, 123, 0.782);
    border-top: 2px solid rgba(100, 23, 123, 0.782);
    border-right:  3px solid rgb(100, 23, 123);
    border-bottom:  3px solid rgb(100, 23, 123);
    box-shadow: inset 0 0 16px 2px  rgb(100, 23, 123), 2px 4px 8px 2px  rgb(100, 23, 123);
}

.form-actions > button:active{
    border-right:  2px solid rgb(100, 23, 123);
    border-bottom:  2px solid rgb(100, 23, 123);
    box-shadow: inset 0 0 16px 2px  rgb(100, 23, 123), 0 2px 4px 1px  rgb(100, 23, 123);

}

.form-actions > button:disabled{
    pointer-events: none;
    color:gray;
}


.form-actions > a{
    
    margin:  0.5rem auto;
    justify-self: flex-end;
    align-self: flex-end;
    vertical-align: bottom;
}

.form-actions > a:hover{
    cursor: pointer;
    color: aquamarine;
}